.table {
  border: 0.05rem solid var(--color-dark);
  width: 100%;
  display: block;
  max-height: 30rem;
  overflow: auto;
}

.table td{
  border-right: 0.05rem solid var(--color-dark);
  padding: 0.25rem 0.5rem;
}

.table td:last-of-type{
  border-right: none;
}

.row {
  border-bottom: 0.05rem solid var(--color-dark);
}
.row:hover {
  background-color: var(--white-obscure);
}


/* TABLET & DESKTOP STYLES */
@media only screen and (min-width: 800px) {
  .table {
    max-height: 40rem;
  }
}
