.layout {
  box-sizing: border-box;
  background-color: #337d47;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  margin: 0;
  padding: 0.25rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.branding {
  display: none;
}

ul.routes {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.routes > li > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 4rem;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.routes > li > *:hover {
  background-color: #338f4c;
}

/* TABLET & DESKTOP STYLES */
@media only screen and (min-width: 600px) {
  .layout {
    justify-content: space-around;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 18rem;
    margin: 0;
    padding: 0.25rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -0.25rem -0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25) inset;
  }

  .layout > div, .layout > ul.routes {
    width: 100%;
  }

  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  ul.routes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}