.layout {
  background-color: #337d47;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 4rem;
}

ul.routes {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.routes > li > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 6rem;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
  cursor: pointer;
}

.routes > li > *:hover {
  background-color: #48a361;
}

/* TABLET & DESKTOP STYLES */
/* @media only screen and (min-width: 600px) {
  .layout {
    background-color: lightblue;
  }
} */