/* VARIABLES CSS */
:root {
  --color-white: #fff;
  --color-white-obscure: #fefefe;
  --color-brand: #337d47;
  --color-brand-light: #338f4c;
  --color-dark: #333;
  --color-dark-palid: #666;
  --color-dark-transparent: rgba(0, 0, 0, 0.5);
}

/* APP STYLES */
.App {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: var(--color-white-obscure);
  color: var(--color-dark-palid);
}

main {
  padding: 1rem 1.5rem;
  margin-bottom: 4rem;
}

section {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 800px) {
  main {
    padding: 1rem 3rem;
    margin-left: 18rem;
  }
}
